#index-author-panel {

}

#index-author-aside {
}

#index-author-aside > span {
    display: block;
}

#index-author-icon {
}

.icon-link {
    width: 32px;
    height: 80px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
