.config-form {
    padding: 50px;
}

.pop-panel-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e7e2d98a;
}

.oc-config {
    width: 50%;
    height: 60%;
    max-height: 400px;
    margin: 10% auto;
    background-color: #FFF;
    border-radius: 20px;
    padding: 1%;
    text-align: center;
    display: table;
    position: relative;

    pre {
        text-align: left;
        background-color: #FFF;
        width: 100%;
        height: 100%;
        max-height: 400px;
        margin: auto;
        overflow: auto;
    }

    button {
        position: absolute;
        width: 80%;
        margin: 0 auto;
        height: 50px;
        bottom: -75px;
        left: 10%;
    }
}
