.itemStack {
    width: 128px;
    height: 200px;
    display: inline-block;
    position: relative;
    margin: 5px;
    border-radius: 10px;
}

.item-stack-amount {
    position: absolute;
    right: 0;
    top: 70px;
    color: cornsilk;
}

.item-stack-amount span:last-child {
    font-size: 24px;
}

.itemIcon {
    width: 96px;
    height: 96px;
    margin: auto;
}

.itemIcon img {
    max-width: 100%;
    max-height: 100%;
}

.itemInfo {
    width: 96%;
    height: 60px;
    margin: auto;
    overflow: auto;
}

/* 滚动条 */
.itemInfoSubName::-webkit-scrollbar {
    display: none;
}
.itemInfo::-webkit-scrollbar {
    display: none;
}
.itemInfoMainName::-webkit-scrollbar {
    display: none;
}
.itemInfoSubName::-webkit-scrollbar {
    display: none;
}

.itemInfoLine {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.itemInfoLine span:first-child {
    position: absolute;
    left: 0;
    max-width: 28%;
    overflow: hidden;
    word-break: keep-all;
}

.itemInfoLine span:last-child {
    text-align: right;
    display: inherit;
    padding-left: 30%;
    word-break: break-all;
    padding-right: 5px;
}

.itemInfoMainName {
    font-size: 16px;
    height: 24px;
    margin: 0 auto;
    width: 95%;
    display: block;
    overflow: auto;
}

.itemInfoSubName {
    font-size: 12px;
    height: 16px;
    margin: 0 auto;
    width: 95%;
    display: block;
    overflow: auto;
}

.item-stack-oc-item-hr {
    margin: 10px 20px 20px 20px;
}

.item-stack-tool-bar {
    background: #3333331C;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 30%;
    overflow: hidden;
    display: flex;
    padding: 5px;
    border-radius: 15px;
    transition: background 0.8s ease;
}

.item-stack-tool-bar-info {
    display: inline-block;
}

.item-stack-tool-bar:empty {
    display: none;
}

.item-stack-tool-bar:hover {
    max-width: 100%;
    transition: max-width 0.8s ease, background 0.8s ease;
    width: 100%;
    background: #333333;
}

.item-stack-tool-bar:hover .item-stack-tool-bar-item {
    background: #eee;
    transition: background 0.8s ease;
    display: inline-block;
}

.item-stack-tool-bar-item {
    cursor: pointer;
    padding: 0 5px;
    margin: 0 2px;
    border-radius: 10px;
    background: transparent;
}