.command-console {
    width: 100%;
    height: 4vh;
    display: flex;
    padding: 5px;
    transition: height 0.8s ease;
}

.command-console > * {
    display: none !important;
}

.command-console-fixed,
.command-console:hover {
    height: 20vh;
    transition: height 0.8s ease;
}

.command-console-fixed > *,
.command-console:hover > * {
    display: inline-block !important;
}

.command-console textarea,
.command-console select {
    background: transparent;
}

.command-area {
    height: 100%;
    width: 46%;
    display: inline-block;
}

.command-area-line {
    width: 100%;
    position: relative;
    padding: 2px;
}

.command-area-line :first-child {
    position: absolute;
    left: 5px;
    width: 30%;
    overflow: hidden;
    word-break: keep-all;
}

.command-area-line :last-child {
    width: 70%;
    margin-left: 30%;
    display: inline-block;
    height: 100%;
}

.command-area-line-1 {
    height: 20%;
}

.command-area-line-2 {
    height: 80%;
}

.command-area-line textarea {
    height: 100%;
}

.command-area-submit-btn {
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
    padding: 2px 5px;
    writing-mode: sideways-rl;
    text-align: center;
    margin: auto 5px;
    height: 80%;
}

.command-area-submit-btn:hover {
    background: #7ba2e0;
    scale: 1.1;
    transition: scale .8s ease, height .8s ease;
    height: 90%;
}

.command-status-area {
    width: 46%;
    height: 100%;
    display: inline-block;
    margin-left: 5%;
}

.command-status-area * {
    width: 100%;
    height: 100%;
}

.command-console textarea {
    overflow: auto;
    white-space: pre;
    border-radius: 20px;
}

.command-console select {
    border-radius: 20px;
}

/**
 *  low width
 */

@media screen and (max-width: 30em) {
    .command-console {
        height: 2vh;
        display: block;
        transition: height 0.8s ease;
    }

    .command-console > *
    {
        display: none;
    }

    .command-console-fixed,
    .command-console:hover,
    .command-console:active,
    .command-console:focus {
        height: 80vh;
        padding-top: 50px;
        transition: height 0.8s ease;
    }

    .command-console-fixed > *,
    .command-console:hover > *,
    .command-console:active > *,
    .command-console:focus > * {
        display: block;
    }

    .command-area {
        width: 100%;
        height: 45%;
    }

    .command-area-submit-btn {
        width: 100%;
        height: auto;
        writing-mode: horizontal-tb;
    }

    .command-area-submit-btn:hover {
        height: auto;
        width: 100%;
        transition: scale .8s ease, width .8s ease;
    }

    .command-status-area {
        width: 90%;
        height: 45%;
    }
}