.main-page {
  position: absolute;
  left: 20%;
  top: 25vh;
  width: 80%;
  text-align: center;
  align-items: center;
}

.command-console {
  position: absolute;
  top: 0;
  margin-left: 20%;
  width: 80% !important;
  background: #ccc;
}

.main-page-wrapper {
  width: 90%;
  position: relative;
  height: 90vh;
  background: #89a1c7;
  margin: 20px auto auto;
}

.tab-list {
  position: absolute;
  left: 0;
  width: 15%;
  height: 100%;
  text-align: center;
}

.tab-list p {
  display: block;
  height: 40px;
  border: dashed 1px azure;
  line-height: 40px;
  cursor: pointer;
}

.tab-list p:hover {
  background: #7ba2e0;
}

.tab-item-selected {
  background: #7ba2e0;
}

#root {
  margin: 5px;
}

body {
  background: #89a1c7;
}