.main-page {
  position: absolute;
  left: 20%;
  top: 25vh;
  width: 80%;
  text-align: center;
  align-items: center;
}

.command-console {
  position: absolute;
  top: 0;
  margin-left: 20%;
  width: 80% !important;
}

.main-page-wrapper {
  width: 90%;
  position: relative;
  height: 90vh;
  margin: 20px auto auto;
}

.tab-list {
  position: absolute;
  left: 0;
  width: 15%;
  height: 100%;
  text-align: center;
  align-content: center;
}

.tab-list p {
  display: block;
  height: 40px;
  border: dashed 1px azure;
  line-height: 40px;
  cursor: pointer;
}

.tab-list p:hover {
  background: #7ba2e0;
}

.tab-item-selected {
  background: #7ba2e0;
}

#root {
  margin: 5px;
}

body {
  background-color: #89a1c7;
}

/**
 * Theme
 */

/**
 * theme-white
 */

.body-theme-white
{
  background: #eee;
}

.body-theme-white button {
  background: #fff;
  color: #222222;
}

.body-theme-white .item-stack-amount {
  color: #555;
}

.tab-list-theme-white,
.tab-list-theme-white,
.command-console-theme-white,
.main-page-theme-white
{
  background: #fff;
}

.main-page-theme-white {
  padding: 10px;
}